*{
    box-sizing: border-box;
    outline: none;
}


body{
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    p,h1,h2{
        padding: 0px;
        margin: 0px;
    }
}

.container{
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.product{
    // background-color: rgba(170, 140, 140, 0.472);
    height: 200px;
    width: 500px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 6px;
    box-shadow: 0px 5px 5px  rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.061);

    &__img{
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 100%;
        }
    }

    &__info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

    }

    &__details{
        align-self: flex-start;
        h2{
            padding-bottom: 10px;
        }
    }

    &:hover{
        transition: 0.2s;
        transform:scale(1.10,1.10);
    }
}

$tracker-gap : 5vw;

.tracker{
    list-style-type: none;
    padding: 10px;
    margin: 0px;
    display: flex;
    flex-wrap: nowrap;
    gap: $tracker-gap;

    &__checkpoint{
        position: relative;

        &.done{
            .tracker__flag{
                background-color: orange;
                i{
                    display: block;
                }
                &::after{
                    background-color: orange;
                }
            }
        }

        &:last-child{
            .tracker__flag{
                &::after{
                    display: none;
                }
            }
        }
    }

    &__flag{
        background-color: #aaa;
        border-radius: 50%;
        font-size: 10px;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        
        i{
            display: none;
        }

        &::after{
            content: " ";
            position: absolute;
            top: 50%;
            right: 0px;
            transform: translate(100%,-50%);
            width: $tracker-gap;
            height: 3px;
            background-color: #aaa;

        }
    }

    &__text{
        position: absolute;
        font-size: 8px;
        left: 50%;
        transform: translate(-50%,100%);
        bottom: -10px;
        text-align: center;
    }

}















